/.htaccess

/config*.php
/admin/config*.php

/assets/css/*
/assets/js/*
/image/cache/*
/system/cache/*
/system/logs/*
/system/modification/*
/system/upload/*

/system/nitro/temp/*
/system/nitro/cache/*

.DS_Store
