.camera_container {
    position:relative;
    width:100%;
    padding-bottom: 46.49%
}

.content_bottom {
    max-width: 1200px;
}

@media only screen and (max-width: 1200px) and (min-width: 996px) {

    .content_bottom {
        width: 967px;
    }

}

.affix-bottom {
    position: relative
}

@media (max-width: 768px) {
    .affix {
        position: relative;
    }
    .affix-bottom {
        padding-top: 50px;
    }
    .header {
        padding-top: 51px;
    }
}

@media (min-width: 768px) {

    .affix {
        position: fixed;
        width: 283px;
        top: 60px;
    }
}

@media (min-width: 991px) {

    .affix {
        position: fixed;
        width: 373px;
        top: 60px;
    }
}

@media (min-width: 1200px) {
    .affix {
        position: fixed;
        width: 371px;
        top: 60px;
    }
}

/* Related Image Slider */
.related-slider .owl-stage {
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .lazy img {
        height: auto;
        left: auto;
        position: relative;
        top: 0px;
        padding-right: 10px;
        width: auto;
        z-index: 0;
    }
}

#product .rating-section.product-rating-status {
    padding-bottom: 20px;
}

#content a:link,
#content a:visited
{
    color: #ff4f02;
}
#content a:hover
{
    color: #717171;
}

#content .btn, #content .btn:visited,
#compare-total {
    color: #fff!important;
}

#content .breadcrumb a:link,
#content .breadcrumb a:visited,
#content .alert a:link, #content .alert a:visited {
    color: #777;
}

#content .breadcrumb a:hover,
#content .alert a:hover {
    color:#000;
}

#content:not(.product_page-right, .button-prod) a:link,
#content:not(.product_page-right, .button-prod) a:visited
{
    color: #ff4f02;
}
#content:not(.product_page-right, .button-prod) a:hover
{
    color: #717171;
}

#content .product_page-right a.button-adviser {
    background-color: #717171;
    color: #ffffff!important;
}

#content .product_page-right a.button-adviser {
    display: inline-block;
    font-size: 13px;
    line-height: 31px;
    padding: 6px 11px 4px 11px;
    cursor: pointer;
}

#content .product_page-right .button-adviser:hover,
#compare-total:hover {
    background-color: #ff4f02 !important;
    color:#ffffff !important;
}

a.button-prod {
    color: #fff !important;
}

/* Added June 2016 by Mark Horton for Text Added to Product Page */
.price-section .price-text {
  font-size: 12px;
  color: #777777;
  font-weight: normal;
}

/* Added June 2016 by Mark Horton to Reduce space in Reviews Section on Product Page */
.product-reviews .review-item {
    margin-bottom: 1em;
    padding-bottom: 0;
}

/* Added June 2016 by Mark Horton to Reduce space in Related Products Section on Product Page */
.product-thumb {
    padding-top: 18px;
}
.product-thumb .image {
    padding-bottom: 18px;
}
.product-thumb .caption .name {
    min-height: 3em;
}

/* Added June 2016 by Mark Horton to add Contact Number to Black Header Bar on Small Screens */
.toprow-right {
  right: 0;
  position: fixed;
  top: 0;
  width: 80%;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 15px;
  z-index: 91;
}

/* Added July 2016 by Mark Horton to add Background Image to footer */
#icustomfooter-custom.flatfooterlayout {
    background-image: url("/catalog/view/theme/theme532/image/footer_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Added July 2016 by Mark Horton to reformat Nav Bar using Top Header Links module */
.header ul.nav {
    background-color: #ff4f02;
    max-width: 1170px;
    width: 100%;
    z-index: 23;
    position: relative;
    top: 0;
}
.header ul.nav > li {
    border-radius: 0;
    border-right: 1px solid #ff844e;
    float: left;
    position: relative;
    z-index: 10;
}
.header ul.nav > li > a {
    color: #fff;
    display: block;
    font-size: 17px;
    line-height: 30px;
    padding: 15px 20px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.header ul.nav > li.dropdown > a:before {
    position: absolute;
    left: 50%;
    top: 63%;
    margin-left: -6px;
    content: '\f107';
    font: 400 16px/16px 'FontAwesome';
}
.header ul.nav > li > a:hover,
.header ul.nav > li > a:active {
    background-color: #717171;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    padding: 0px;
    left: 0;
    position: absolute;
    top: 60px;
    z-index: 5;
}
.navbar-nav > li.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
.navbar-nav > li > .dropdown-menu .dropdown-inner {
}
.navbar-nav > li > .dropdown-menu .dropdown-inner ul {
    display: table-cell;
}
.navbar-nav > li > .dropdown-menu .dropdown-inner ul li {
    border: 1px solid #e3e3e3;
    line-height: 36px;
    width: auto;
}
.navbar-nav > li > .dropdown-menu .dropdown-inner ul li {
    border-top: none;
    border-right: none;
}
.navbar-nav > li > .dropdown-menu .dropdown-inner ul a {
    color: #777;
    font-size: 13px;
    padding: 8px 20px;
    white-space: nowrap;
}
.navbar-nav > li > .dropdown-menu .dropdown-inner ul a:hover,
.navbar-nav > li > .dropdown-menu .dropdown-inner ul a:active {
    color: #000;
    background: rgba(0,0,0,0) none repeat scroll 0 0;
}
.navbar-nav > li > .dropdown-menu .dropdown-inner .see-all {
    text-align: center;
    display: block;
    padding: 8px 20px;
}
@media (max-width: 767px) {
  .nav__primary {
    display: none;
  }
}
